@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@mixin section-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin text-block {
    position: relative;
    z-index: 0;
}

@mixin line-decoration($top: 0){
    position: absolute;
    z-index: -1;
    top: $top;
}

@mixin section-block-center {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    font-style: normal;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: block;
    padding: 16px 40px;
    margin-top: 60px;
    border-radius: 8px;
    gap: 10px;
    background: #4F9CF9;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    border: none;
}

.body-text {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.title {
    color: #212529;
    font-size: 72px;
    font-weight: 700;
}

.colored {
    color: #043873;
    margin-right: 24px;
    background: #FFE492;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav > .right {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header {
    display: flex;
    background: #043873 url('../img/bg/header.svg') center 70% no-repeat;
    &__logo {
        display: flex;
        gap: 10px;
        &__txt {
            color: #FFF;
            font-size: 28px;
            font-weight: 700;
        }
    }
    &__links {
        display: flex;
        gap: 32px;
        &__link {
            list-style: none;
        }
        &__link > a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-decoration: none;
        }
    }
    &__hum {
        display: none;
    }
}

.btns {
    display: flex;
    gap: 24px;
}

.btns > .btn {
    margin-top: 0;
}

.promo {
    display: flex;
    align-items: center;
    padding: 140px 0;
    &__first {
        max-width: 840px;
        &__title {
            color: #FFF;
            font-size: 64px;
            font-weight: 700;
        }
    } 
    &__img {
        display: block;
    }
    &__img-middle {
        display: none;
    }
}

.promo__first > .body-text {
    color: #fff;
}

.work-managment {
    padding: 140px 0;
    background: url('../img/bg/managment-spot.svg') 0 285px no-repeat;
    &__block {
        @include section-block;
        &__txt {
            position: relative;
            z-index: 0;
            &__line {
                position: absolute;
                z-index: -1;
            }
            &__line-middle {
                display: none;
            }
        }
        &__img-middle {
            display: none;
        }
        &__img-small {
            display: none;
        }
    }
}

.work-managment > .body-text {
    color: #212529;
}

.project {
    gap: 60px;
}

.project-line {
    top: 154px;
}

.together {
    margin-top: 100px;
    gap: 100px;
}

.together-line {
    top: 56px;
    right: 163px;
}

.extension {
    background: #043873;
    padding: 140px 0;
    &__txt {
        @include text-block;
    }
    &__img {
        display: block;
        max-width: 685px;
        width: 100%;
    }
    &__img-middle {
        display: none;
    }
    &__line {
        @include line-decoration(65px);
        right: 117px;
    }
    &__line-middle {
        display: none;
    }
}

.extension > .container {
    @include section-block;
    gap: 100px;
}

.extension__txt > .title {
    color:#FFF;
}

.extension__txt > .body-text {
    color: #FFF;
}

.customize {
    padding: 140px 0;
    &__txt {
        @include text-block;
    }
    &__img {
        display: block;
        max-width: 714px;
        width: 100%;
    }
    &__img-middle {
        display: none;
    }
    &__img-small {
        display: none;
    }
    &__line {
        @include line-decoration(150px);
        left: -11px;
    }
    &__line-middle {
        display: none;
    }
}

.customize :is(.title) {
    max-width: 510px;
}

.customize > .container {
    @include section-block;
    gap: 100px;
}

.plan {
    padding: 140px 0;
    &__txt {
        @include text-block;
    }
    &__txt > .body-text {
        margin: 24px auto 0;
        max-width: 979px;
        text-align: center;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        gap: 32px;
        &__item {
            display: flex;
            flex-direction: column;
            padding: 40px 44px;
            border: 1px solid #FFE492;
            border-radius: 10px;
            background: #FFF;
            color: #212529;            
            &__title {
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
            }
            &__amount {
                margin-top: 25px;
                font-size: 36px;
                font-weight: 700;
            }
            &__descr {
                margin-top: 25px;
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
            }
            &__lists {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                margin-top: 25px;
                padding: 0;
                gap: 28px;
                &__list {
                    display: flex;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    gap: 20px;
                }
                &__list > img {
                    max-width: 18px;
                    width: 100%;
                }
            }
        }
    }
}

.plan-active {
    padding: 80px 44px;
    color:#FFF;
    background: #043873;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
    border: none;
}

.btn-border {
    color: #212529;
    border-radius: 8px;
    border: 1px solid #FFE492;
    background: #FFF;
}

.plan-active > .plan__price__item__amount {
    color: #FFE492;
}

.plan__price__item > .btn {
    max-width: 180px;
}

.plan__txt > .title {
    text-align: center;
}

.plan-line {
    @include line-decoration(62px);
    left: 49%;
}

.work-everywhere {
    @include text-block;
    background: #043873;
    padding: 140px 0;
    text-align: center;
    &__content {
        @include text-block;
        max-width: 1064px;
        margin: 0 auto;
        color:#FFF;
    }
    &__line {
        @include line-decoration(65px);
        right: 0;
    }
}

.work-everywhere__content > .btn{
    margin: 0 auto;
    margin-top: 60px;
}

.work-everywhere__content > .title {
    color: #FFF;
}

.spot {
    @include line-decoration(-190px);
    left: 0;
}

.data {
    padding: 140px 0;
    &__txt {
        @include text-block;
    }
    &__img {
        display: block;
    }
    &__img-middle {
        display: none;
    }
    &__img-small {
        display: none;
    }
    &__line {
        @include line-decoration(62px);
        left: 200px;
    }
    &__line-middle {
        display: none;
    }
}

.data > .container {
    @include section-block;
}

.sponsors {
    padding: 140px 0;
    text-align: center;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
}

.sponsors > .container {
    @include text-block;
}

.sponsors-line {
    @include line-decoration(60px);
    left: 45%;
}

.apps {
    background: #043873 url('../img/bg/apps-bg.svg') center center no-repeat;
    padding: 140px 0;
    color: #FFF;
}

.apps > .container {
    @include section-block;
    gap: 100px;
}

.apps__txt > .title {
    color: #FFF;
}

.response {
    @include text-block;
    padding: 140px 0;
    &__wrapper {
        @include section-block;
        margin-top: 60px;
        gap: 32px;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 60px 40px;
            border-radius: 10px;
            background: #FFF;
            color: #212529;
            box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.10);
            &__user {
                display: flex;
                align-items: center;
                margin-top: 60px;
                gap: 42px;
                &__txt {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    &__name {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                    }
                }
            }
        }
        &__item > img {
            max-width: 86px;
            width: 100%;
        }
    }
    &__hr {
        margin-top: 40px;
    }
    &__points {
        display: flex;
        justify-content: center;
        gap: 12px;
        &__point {
            margin-top: 60px;
            width: 12px;
            height: 12px;
            background: #4F9CF9;
            border-radius: 100%;
        }
    }
}

.active-point {
    background: #043873;
}

.response > .container > .title {
    text-align: center;
}

.response__wrapper__item > .body-text {
    margin-top: 32px;
}

.respones-active {
    background: #4F9CF9;
    box-shadow: none;
    color: #FFF;
}

.respones-active :is(.response__wrapper__item__user__txt__name) {
    color: #043873;
}

.response-line {
    @include line-decoration(175px);
    left: 62%;
}

.free-trial {
    display: flex;
    flex-direction: column;
    padding: 140px 0 32px 0;
    text-align: center;
    background: #043873;
    &__txt {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }
    &__wrapper {
        @include section-block;
        margin-top: 40px;
    }
}

.free-trial > .container {
    max-width: 608px;
}

.another-margin {
    margin-top: 40px;
}

.free-trial > .container > .title {
    color:#FFF;
}

.free-trial :is(.btn) {
    margin: 0 auto;
    margin-top: 40px;
}

.footer {
    padding: 140px 0 32px 0;
    background: #043873;
    color: #FFF;
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        &__about {
            display: flex;
            flex-direction: column;
            max-width: 240px;
            gap: 15px;
            &__logo {
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: 700;
                gap: 10px;
            }
            &__txt {
                color: #F7F7EE;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
            }
        }
        &__lists {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            gap: 15px;
            &__list {
                font-size: 18px;
                font-weight: 700;
            }
            &__list > a {
                color: #FFF;
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
            &__list > a:hover {
               color: #FFE492;
            }
        }
        &__start {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 259px;
            gap: 23px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        &__conditions {
            display: flex;
            list-style: none;
            gap: 60px;
            &__condition:first-child {
                display: flex;
                align-items: center;
                gap: 6px;
            }
            &__condition > a {
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-decoration: none;
            }
        }
        &__social {
            display: flex;
            list-style: none;
            gap: 32px;
        }
    }
}

.footer__content__start > .btn {
    margin: 0;
}

.footer > .container > hr {
    margin-top: 100px;
}

@media (max-width: 1200px) {

    .container {
        max-width: 1090px;
    }

    .title {
        font-size: 64px;
    }

    .header {
        &__links {
            display: none;
        }
        &__hum {
            display: block;
        }
    }

    .nav>.right {
        gap: 20px;
    }

    .promo {
        &__img {
            display: none;
        }
        &__img-middle {
            display: block;
        }
    }

    .work-managment {
        background: url('../img/media/bg/spot.png') 0 62px no-repeat;
        &__block {
            justify-content: space-between;
            &__txt {
                &__line {
                    display: none;
                }
    
                &__line-middle {
                    display: block;
                    position: absolute;
                    z-index: -1;
                }
            }
            &__img {
                display: none;
            }

            &__img-middle {
                display: block;
                width: 100%;
            }
        }
    }

    .project-line-middle {
        top: 135px;
        left: 177px;
    }

    .together-line-middle {
        top: 45px;
        left: 177px;
    }

    .extension {
        &__txt {
            @include text-block;
        }
        &__img {
            display: none;
        }
        &__img-middle {
            display: block;
            max-width: 459px;
        }
        &__line {
            display: none;
        }
        &__line-middle {
            @include line-decoration(55px);
            display: block;
            right: 18px;
        }
    }

    .customize {
        &__txt {
            @include text-block;
        }
        &__img {
            display: none;;
        }
        &__img-middle {
            display: block;
            max-width: 534px;
        }
        &__line {
            display: none;
        }
        &__line-middle {
            @include line-decoration(135px);
            display: block;
            left: -11px;
        }
    }

    .plan-line {
        @include line-decoration(57px);
        left: 49%;
    }

    .spot {
        display: none;
    }

    .data {
        &__img {
            display: none;
        }
        &__img-middle {
            display: block;
        }
        &__line {
            display: none;
        }
        &__line-middle {
            @include line-decoration(50px);
            display: block;
            left: 200px;
        }
    }

    .response__wrapper__item__user {
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .btn {
        margin: 60px auto 0;
    }

    .title {
        text-align: center;
        font-size: 54px;
    }

    .body-text {
        text-align: center;
    }

    .container {
        max-width: 728px;
    }

    .btns {
        display: none;
    }

    .header {
        background: #043873 url(../img/media/768px/header_backward.svg) center 70% no-repeat;
    }

    .promo {
        flex-direction: column;
        &__first {
            &__title {
                text-align: center;
                font-size: 54px;
            }
        }
        &__img-middle {
            margin-top: 100px;
        }
    }

    .work-managment {
        flex-direction: column;
        &__block {
            @include section-block-center;
            &__txt {
                max-width: 100%;
            }
            &__img-middle {
                display: none;
            }
            &__img-small {
                display: block;
            }
        }
    }

    .project-line-middle {
        top: 38px;
        left: 378px;
    }

    .together-line-middle {
        top: 45px;
        left: 323px;
    }

    .extension {
        &__line-middle {
            @include line-decoration(47px);
            right: 100px;
        }
    }

    .extension>.container {
        @include section-block-center;
        gap: 60px;
    }

    .customize {
        &__img-small {
            display: block;
        }
        &__line-middle {
            @include line-decoration(50px);
            left: 371px;
        }
    }

    .customize :is(.title) {
        max-width: 100%;
    }

    .customize>.container {
        @include section-block-center;
        gap: 60px;
    }

    .plan {
        &__price {
            position: relative;
            left: -50%;
            &__item {
                min-width: 473px;
            }
        }
    }

    .plan-line {
        @include line-decoration(45px);
        left: 48%;
    }

    .work-everywhere {
        &__content {
            @include text-block;
            max-width: 604px;
        }

        &__line {
            @include line-decoration(107px);
            right: 311px;
        }
    }

    .work-everywhere__content> .title{
        text-align: left;
    }

    .work-everywhere__content>.body-text {
        text-align: left;
    }

    .data {
        &__img-middle {
            display: none;
        }
        &__img-small {
            display: block;
        }
        &__line-middle {
            @include line-decoration(37px);
            left: 318px;
        }
    }

    .data > .container {
        @include section-block-center;
        gap: 100px;
    }

    .sponsors {
        &__wrapper {
           flex-direction: column;
           gap: 100px;
        }
        &__wrapper > img {
            max-height: 70px;
        }
    }

    .sponsors-line {
        @include line-decoration(37px);
        left: 37%;
    }

    .apps>.container {
        @include section-block-center;
        gap: 100px;
    }

    .response {
        @include text-block;
        padding: 140px 0;

        &__wrapper {
            position: relative;
            right: 24.3%;
            &__item {
                min-width: 340px;
            }
        }
    }

    .free-trial {
        display: flex;
        justify-content: start;
        text-align: left;
    }

    .free-trial > .container {
        max-width: 728px;
    }

    .free-trial>.container>.title {
        text-align: left;
    }

    .free-trial>.container>.body-text {
        text-align: left;
    }

    .free-trial :is(.btn) {
        margin: 40px 0 0 0;
    }

    .footer {
        &__content {
            flex-direction: column;
        }
        &__bottom {
            flex-direction: column;
            gap: 40px;
        }
    }
}